@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5256ad;
}

.drag-area {
  border: 2px dashed #fff;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area.active {
  border: 2px solid #fff;
}

.drag-area .icon {
  font-size: 100px;
  color: #fff;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}

.drag-area button.btn-browse {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  height: 100px;
  width: 100%;
  opacity: 0.8;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 1em;
  margin-top: 1em;
}

.uploaded-files {
  width: 19%;
  display: inline-block;
  padding: .3em;
  position: relative;
}

.uploaded-files button.btn-delete {
  background-color: rgb(185, 45, 45);
  border: none;
  padding: .1em .6em;
  position: absolute;
  right: 0%;
  top: 20%;
  opacity: .6;
  cursor: pointer;
  border-radius: 15px;
}

.uploaded-files button.btn-delete:hover {
  opacity: 1;
}

.uploaded-files button.btn-delete:focus {
  outline: none!important;
}

.drag-over {
  display: none;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}